* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faf3e0;
}

@font-face {
  font-family: "Lisu Bosa";
  src: url("../assets/fonts/LisuBosa.ttf");
}

body {
  font-family: "Lisu Bosa", sans-serif;
}
