.home-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-description img {
  width: 100%;
  margin-bottom: 20px;
}

.home-description p {
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: justify;
  border: 2px solid #ebd9a9;
  border-radius: 80px;
  padding: 50px 30px;
  background-color: #ebd9a9;
  margin: 10px;
}

.home-images {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7rem;
}

.caroussel {
  margin: 20px;
  border-radius: 26px;
  background: #faf3e0;
  box-shadow: inset 15px 15px 30px #a8a396, inset -15px -15px 30px #ffffff;
}
@media screen and (min-width: 992px) {
  .home-description img {
    width: 100%;
    margin-bottom: 15px;
  }

  .home-description p {
    font-size: 2rem;
    padding: 1.5em;
    margin: 1.5em;
  }

  .home-images {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
  }
  .carrousel_container {
    justify-content: center;
    width: 45%;
  }

  .caroussel {
    font-size: 2rem;
    width: 100%;
  }
}
