.museum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.museum p {
  text-align: center;
  margin: 1.5em;
}

.filter {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

input {
  padding: 0.5em;
  padding-right: 2.5em;
  border-radius: 1em;
  border: solid 1px #800020;
}

input:focus {
  outline: none;
}

::placeholder {
  font-size: 0.9em;
}

.filter p {
  border: solid 1px #800020;
  border-radius: 2em;
  margin: 1em;
  padding: 1em;
}

.filter a {
  background-color: #800020;
  color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
    padding: 0.5em;
  }
  .museum img {
    width: 70%;
    padding: 1em;
  }
  .museum p {
    margin: 2em;
    font-size: 1.2rem;
  }

  input {
    padding: 1em;
    padding-right: 5em;
    font-size: 1.2rem;
    width: 57%;
  }

  ::placeholder {
    font-size: 1.2em;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2em;
  }
  .filter p {
    border: solid 1px #800020;
    border-radius: 2em;
    margin: 1.5em;
    padding: 1.5em;
    box-sizing: border-box;
    width: 40%;
    font-size: 1.2rem;
  }

  .filter a {
    background-color: #800020;
    color: white;
    font-size: 1rem;
    margin: 0.5em;
    padding: 0.2em;
  }
}
